services:
  radarr:
    image: lscr.io/linuxserver/radarr:${RADARR_VERSION}
    container_name: radarr
    depends_on:
      - gluetun
    environment:
      - PUID=${MEDIA_PUID}
      - PGID=${MEDIA_PGID}
      - TZ=${TZ}
    ports:
      - 7878:7878
    # network_mode: "service:gluetun"
    volumes:
      - ${RADARR_VOLUME_CONFIG}:/config
      - ${RADARR_VOLUME_DATA}:/data # avoid common pitfalls: https://readarr.com/#downloads-v1-docker
    restart: unless-stopped
