services:
  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:${FLARESOLVERR_VERSION}
    container_name: flaresolverr
    depends_on:
      - gluetun
    environment:
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none} # see: https://github.com/FlareSolverr/FlareSolverr?tab=readme-ov-file#captcha-solvers
      - LOG_HTML=${LOG_HTML:-false}
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - TZ=${TZ}
    ports:
      # - "${PORT:-8191}:8191"
      - 8191:8191
    # network_mode: "service:gluetun"
    restart: unless-stopped
