services:
    cadvisor:
        image: ghcr.io/google/cadvisor
        container_name: cadvisor
        restart: unless-stopped
        devices:
            - /dev/kmsg
        privileged: true
        ports:
            - '55032:8080'
        volumes:
            - '/dev/disk/:/dev/disk:ro'
            - '/var/lib/docker/:/var/lib/docker:ro'
            - '/sys:/sys:ro'
            - '/var/run:/var/run:ro'
            - '/:/rootfs:ro'

    prometheus:
        image: prom/prometheus
        container_name: prometheus
        restart: unless-stopped
        depends_on:
        - cadvisor
        volumes:
            - "${NETMON_PROMETHEUS_VOLUME_CONFIG}:/etc/prometheus"
            - "${NETMON_PROMETHEUS_VOLUME_DATA}:/prometheus"
        ports:
            - '36245:9090'
