services:
    alloy:
        image: docker.io/grafana/alloy:v1.12.2
        container_name: alloy
        restart: unless-stopped
        hostname: alloy # WARNING: When alloy runs in a container, you should set the container hostname to a unique value to identify the instance in your monitoring backend. Otherwise it defaults to the container ID.
        command:
            - run
            - --server.http.listen-addr=0.0.0.0:12345
            - --storage.path=/var/lib/alloy/data
            - /etc/alloy/config.alloy
        ports:
            - "21418:12345"
        volumes:
            - ${MONITORING_ALLOY_FILE_CONFIG}:/etc/alloy/config.alloy:ro
            - ${MONITORING_ALLOY_VOLUME_DATA}:/var/lib/alloy/data
            - /:/rootfs:ro
            - /sys:/sys:ro
            - /run:/run:ro
            - /var/log:/var/log:ro
            - /var/lib/docker/:/var/lib/docker/:ro
            - /run/udev/data:/run/udev/data:ro

    loki:
        image: docker.io/grafana/loki:3.6.3
        container_name: loki
        restart: unless-stopped
        depends_on:
          - alloy
        command: "-config.file=/etc/loki/config.yaml"
        ports:
        - "32432:3100"
        volumes:
        - "${MONITORING_LOKI_VOLUME_CONFIG}:/etc/loki:ro"
        - "${MONITORING_LOKI_VOLUME_DATA}:/loki:rw"

    prometheus:
        image: docker.io/prom/prometheus:v3.9.1
        container_name: prometheus
        restart: unless-stopped
        command:
            - --config.file=/etc/prometheus/prometheus.yaml
            - --storage.tsdb.retention.time=15d
            - --web.enable-remote-write-receiver
        ports:
            - "36245:9090"
        volumes:
            - "${MONITORING_PROMETHEUS_VOLUME_CONFIG}:/etc/prometheus"
            - "${MONITORING_PROMETHEUS_VOLUME_DATA}:/prometheus"
        depends_on:
          - alloy
        # - node_exporter
        # - cadvisor

    # cadvisor:
    #     image: ghcr.io/google/cadvisor
    #     container_name: cadvisor
    #     restart: unless-stopped
    #     devices:
    #         - /dev/kmsg
    #     privileged: true
    #     ports:
    #         - '55032:8080'
    #     volumes:
    #         - '/dev/disk/:/dev/disk:ro'
    #         - '/var/lib/docker/:/var/lib/docker:ro'
    #         - '/sys:/sys:ro'
    #         - '/var/run:/var/run:ro'
    #         - '/:/rootfs:ro'

    # # For textfile collector example scripts: https://github.com/prometheus-community/node-exporter-textfile-collector-scripts
    # node_exporter:
    #     image: quay.io/prometheus/node-exporter
    #     container_name: node_exporter
    #     command:
    #     - '--path.rootfs=/host'
    #     - "--collector.textfile.directory=/host/${GLOBAL_TEXTFILE_COLLECTOR_DIR}"
    #     network_mode: host # The node_exporter listens on HTTP port 9100 by default. See the --help output for more options.
    #     pid: host
    #     restart: unless-stopped
    #     volumes:
    #     - '/:/host:ro,rslave'
    #     # - "${GLOBAL_TEXTFILE_COLLECTOR_DIR}:/host/${GLOBAL_TEXTFILE_COLLECTOR_DIR}:ro" # todo rslave (above) is resursive?

    grafana:
        image: docker.io/grafana/grafana-oss:12.3.1
        container_name: grafana
        user: ${OP_PUID}:${OP_PGID}
        depends_on:
        - prometheus
        - loki
        restart: unless-stopped
        volumes:
        - "${MONITORING_GRAFANA_VOLUME_DATA}:/var/lib/grafana"
        ports:
        - '9042:3000'
